<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
    </div>

    <h3>For employee</h3>
    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>What is Plutus?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          Our mission is to empower startup employees to exercise their ESOPs. While receiving employee stock options
          should be a life-changing financial opportunity, the value of these options remains inaccessible and illiquid
          until an exit event. In India, employees face a short exercise period during which they must arrange
          substantial liquidity to accommodate taxes, which is considered deemed income for the employee. We're here to
          address this problem by enabling employees to secure funding from investors to exercise their ESOPs.
          Investors, who seek to invest in unlisted startup companies based on their potential, gain an early entry into
          the market at lower rates to maximize their profits. This, in turn, provides employees with the ability to
          create liquidity for some of their ESOPs.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>How does the platform work?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          We accept funding requests from employees of unlisted startups for their ESOPs. These requests are presented
          as investment opportunities, including a detailed study of the company's performance, to potential investors.
          Investors then provide funding to employees. In exchange, an agreement is signed wherein employees commit to
          sharing profits with the participating investors following a successful exit event.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>Why should I use Plutus?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          Plutus provides you with the funding you need to exercise your options. ESOPs can be a great source of future
          income, but they are often challenging to utilize. Companies typically offer employees a very limited window
          of time to exercise their options, during which they must secure liquidity to cover taxes. As a result, many
          employees are forced to forego their ESOP options.
        </p>
        <p>We offer employees the opportunity to generate liquidity for their ESOPs by providing funding through
          investors, without the need to wait for an exit event. With Plutus, you will always retain sole ownership of
          your shares and will receive the profits from the exit event without having to pay taxes.</p>
        <p>Sign up now to determine if you qualify!</p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>Who can get funded by Plutus?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          Any employee who works or has worked for an unlisted private company and has vested stock options or shares
          may be eligible for funding.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4> How much does plutus charge?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          As such, the employee does not have to pay anything to the Plutus platform. He may have to
          share the profit with the investor if in case of a successfulexit event. If an exit event
          does not happen or the company goes out of business you earn nothing so you pay anything.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>What documents do I need to provide?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          To initiate the process, you will be required to provide us with your basic details, including proof of
          identity and your company email ID for verification purposes. Additionally, you will need to submit your ESOP
          grant letter, disclose your option agreement status, and provide the latest Fair Market Value (FMV).
        </p>
        <p>After you have received funding, you will be asked to provide certain government-issued identifications and
          demonstrate that you have exercised your options by linking your demat account.</p>
      </div>
    </div><!-- End F.A.Q Item-->



    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>How does Plutus decide whether to fund me?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          First, we conduct a thorough background research on you using the provided details, and your documents are
          manually verified by our legal team to assess your credibility. Once you are approved, we present funding
          opportunities to our investors, and it is ultimately their decision whether to fund your stock options.
        </p>
      </div>
    </div>

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4> what will happen after funding?</h4>
      </div>
      <div class="col-lg-7">
        <p>
          Once you receive funding, you will exercise your stock options, and you will be required to provide evidence
          of the exercise by linking your demat account. In accordance with the agreement clause signed before funding,
          you are obligated to keep us updated on any relevant information you receive regarding any potential exit
          event.
        </p>
      </div>
    </div>

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>When will I be able to sell my share?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          Once exercised you remain the sole shareholder. As such, you will be able to sell your shares during any
          relevant liquidity event that the company offers.
        </p>
      </div>
    </div>


    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>What happens after an exit event?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          An exit event typically comprises four main scenarios: an initial public offering (IPO), a merger or
          acquisition, a buyback of company shares, or the sale of shares, as well as any other event within your
          company that enables shareholders to cash out some or all of their shares.
        </p>

        <p>Following a successful exit, you will be obligated to repay the funding amount you received to the investors
          and share a portion of the profits with them as per the prior agreement.
        </p>

        <p>However, if there is no exit or if your company goes out of business, you will not be required to make any
          payments to the investors.</p>
      </div>
    </div>

    <h3>For investor</h3>
    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>Why should I use Plutus?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          Investors can diversify their portfolios by investing in a variety of startups across different industries and
          stages of growth. If the startups they invest in succeed and their value increases, investors can earn a
          return on their investment.

        </p>
      </div>
    </div>

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>Will there be any risks associated with Investing through Plutus?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          The valuation of startups can be subjective and speculative. The value of your investment is often tied to the
          company's valuation, which can change significantly over time. Investments made through Plutus may not be
          easily liquidated. Unlike publicly traded stocks, it can be challenging to sell private company shares, and it
          may take years to see a return on your investment, if at all.
        </p>
      </div>
    </div>

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>Does Plutus perform background checks on the employee providing ESOP information?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          Yes, Plutus does conduct a thorough background check on the employee, seeking funding on our platform.
        </p>
      </div>
    </div>


    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>What documents are required for me to register as an investor?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          For an investor we ask for the following details:
        </p>
        <ul>
          <li>PAN - Permanent Account Number </li>
          <li>Identity Proof </li>
          <li>Address Proof </li>
          <li>Bank Account Information</li>
          <li>Income Proof</li>

        </ul>
      </div>
    </div>


    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>How does the investment process work?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          Investors need to pay a flat subscription fee before they can request to fund an ESOP. Once the investor
          has successfully subscribed onto the platform, the investor is provided with a set of verification documents that
          he/she has to upload. Once these documents have been verified, the investor gets to see the dashboard
          containing various investment opportunities. Once the investor finds a suitable startup he can wire an
          investment through Plutus.
        </p>
        <p>
          When you provide funding for an employee's stock options, the employee is committed to using those funds to
          exercise their options. The agreement that employees sign obligates them to keep you informed about important
          developments related to the shares, such as any events that could lead to the sale or conversion of the
          shares, like a company going public or being acquired.
        </p>
        <!-- <p>
          While funding the employee stock options, investors pay a fee of 5%. When and if an exit event occurs,
          investors may also pay an additional 5% carry fee of the remainder of the profit gained apart from the initial
          investment amount.
        </p> -->
      </div>
    </div>


    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>What is an Exit Event and what happens after it?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          An exit event typically comprises four main scenarios: an initial public offering (IPO), a merger or acquisition, a buyback of company shares, or the sale of shares, as well as any other event within your company that enables shareholders to cash out some or all of their shares.
After a successful Exit event, you'll not only get your initial investment back but also a share of the earnings. The employee is obligated to provide you with your share of the earnings in cash shortly after the conclusion of any relevant lockup period.
        </p>
      </div>
    </div>


    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
      <div class="col-lg-5">
        <i class="ri-question-line"></i>
        <h4>How do you ensure the employee does not Default?
        </h4>
      </div>
      <div class="col-lg-7">
        <p>
          Employees are legally bound to complete the transaction promptly once a successful liquidity event occurs. However, when funding employee stock options, there is a risk that the employee may fail to honor their contractual obligations. In the event of such a breach, we would pursue legal action to compel the employee to adhere to the terms of the contract.
        </p>
      </div>
    </div>


  </div>
</section><!-- End F.A.Q Section -->