<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div>

        

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img src="../../assets/img/pic5_5_-removebg-preview.png" width="400px" height="400px" class="rounded-circle">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h1><b>ESOP Based Compensation:</b></h1>
                <p>Many startup employees receive part of their
                    compensation in the form of stock options
                    or equity grants.These are valuable assets that
                     can potentially yield significant returns if the
                      startup succeeds and goes public or gets acquired.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h1><b>Unlocking ESOPs:</b></h1> 
                <p>Plutus allows employees with ESOPS
                    to unlock the value of their stock options by
                    connecting them with a group of investors on the platform.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img src="../../assets/img/pic_2_-removebg-preview.png" width="400px" height="400px" class="rounded-circle img">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img src="../../assets/img/pic_4_-removebg-preview.png" width="400px" height="400px" class="rounded-circle">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h1><b>Investor’s Role & Gain:</b></h1>
        <p>Investors
            on Plutus provide the necessary funds to help employees exercise their stock options.
            In return, these investors receive a share of the future gains if
            the startup's value increases plus they also gain a way to participate
            in the startups at an early stage, which was previously unattainable.
            This allows employees to exercise their ESOPs without the need to pay the upfront costs themselves.</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h1><b>Risk-Sharing:</b></h1><p>Plutus essentially
                    creates a risk-sharing model. If the startup's value grows, both the employees
                    and the investors benefit. If the startup's value doesn't increase,
                    the investors may not see a return on their investment, but the employees
                    are not required to repay the funds they received.</p> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img src="../../assets/img/pic_5_-removebg-preview.png" width="400px" height="400px" class="rounded-circle img">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <img src="../../assets/img/pic__3_-removebg-preview.png" width="400px" height="400px" class="rounded-circle">
            </div>
            <div class="col-sm-6">
                <h1><b>Win-Win Solution:</b></h1>
                <p> Plutus aims to be a win-win solution for both startup employees and investors.
                    Employees can access their equity without financial burden, while investors
                    can potentially profit from their investments in promising startups.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->