<h2>{{header}}</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" *ngFor="let header of headers">{{header.value}}</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="records.length>0;else noData">
      <tr *ngFor="let record of records;let i = index">
        <th scope="row">{{i+1}}</th>
        <td *ngFor="let header of headers">
            <span [ngSwitch]="header.type">
                <span *ngSwitchCase="'normal'">
                    {{record[header.key]}}
                </span>
            </span>
        </td>
      </tr>
        </ng-container>
    </tbody>
  </table>


  <ng-template #noData>
    <tr>
        <td colspan="8">
			<div class="no-record">
				No record found
			</div>
		</td>
	</tr>
</ng-template>