<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>How It Works</h2>
    </div>

    <div class="row content">
      <div class="col-lg-4 col-md-6 col-sm-12 main-conter-circle mt-4" data-aos="fade-up" data-aos-delay="150">
        <div class="circle">1</div>
        <div>
          <p>Ask funding for your esop options and explore offers.</p>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 main-conter-circle mt-4" data-aos="fade-up" data-aos-delay="150">
        <div class="circle">2</div>
        <div>
          <p>Exercise your shares.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 main-conter-circle mt-4" data-aos="fade-up" data-aos-delay="150">
        <div class="circle">3</div>
        <div>
          <p>Successful exit event enjoy the profits.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End About Us Section -->

<section id="clients" class="clients clients">
  <div class="container">
    <h1 _ngcontent-ng-c2671265846="" data-aos="fade-up" class="aos-init aos-animate">Invest in Tomorrow's Titans Today!
    </h1>
    <div class="row">
      <div class="col-12">
        <p data-aos="fade-up" data-aos-delay="400">Plutus grants investors access and opportunities to invest in
          previously inaccessible, unlisted, funded startups by funding employee stock options, enabling early entry at
          lower rates for maximum profit.
        </p>
      </div>
    </div>

  </div>
</section>


<section id="about" class="about">
  <div class="container">

    <!-- <div class="section-title" data-aos="fade-up">
      <h2>How It Works</h2>
    </div> -->

    <div class="row content">
      <div class="col-lg-4 col-md-6 col-sm-12 main-conter-circle mt-4" data-aos="fade-up" data-aos-delay="150">
        <div class="circle">1</div>
        <div>
          <p>Signup to see startup opportunities.</p>
        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 main-conter-circle mt-4" data-aos="fade-up" data-aos-delay="150">
        <div class="circle">2</div>
        <div>
          <p>Invest in a startup by funding employee esops.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 main-conter-circle mt-4" data-aos="fade-up" data-aos-delay="150">
        <div class="circle">3</div>
        <div>
          <p>Wait for the exit event. Share the profits with the employee.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End About Us Section -->