<app-home-header></app-home-header>
<main id="main">
     <!-- ======= Clients Section ======= -->
     <section id="clients" class="clients clients">
        <div class="container">
            <h1 _ngcontent-ng-c2671265846="" data-aos="fade-up" class="aos-init aos-animate">From Options to Ownership to Liquidity</h1>
          <div class="row">
            <div class="col-12">
              <p data-aos="fade-up" data-aos-delay="400">Plutus enables startup employees to fund their ESOP options, transforming them into company shareholders and unlocking ESOP liquidity previously unattainable.
            </p>
           </div>
          </div>
  
        </div>
      </section>
      <!-- End Clients Section -->
      <app-how-its-work></app-how-its-work>
      <app-about></app-about>
      <app-faq></app-faq>
      <app-contact-us></app-contact-us>
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>